$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/* Variáveis */

    /* Bootstrap */
    $brand-primary: #009963;
    $brand-success: #18BA18;
    $brand-info:    #5bc0de;
    $brand-warning: #f0ad4e;
    $brand-danger:  #BE1E2D;

    $body-bg: #FDFDFD;

    $font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

    $border-radius-base:  2px;
    $border-radius-large: 3px;
    $border-radius-small: 1px;

    // Navbar
    $navbar-height:              60px;
    $navbar-margin-bottom:       30px;
    $navbar-collapse-max-height: 340px;

    $navbar-default-color:  $brand-primary;
    $navbar-default-bg:     #f8f8f8;
    $navbar-default-border: darken($navbar-default-bg, 4%);

    $navbar-default-link-color:          $brand-primary;
    $navbar-default-link-hover-color:    #00613F;
    $navbar-default-link-hover-bg:       transparent;
    $navbar-default-link-active-color:   #00613F;
    $navbar-default-link-active-bg:      darken($navbar-default-bg, 3%);
    $navbar-default-link-disabled-color: #ccc;
    $navbar-default-link-disabled-bg:    transparent;

    $navbar-default-brand-color:       $navbar-default-link-color;
    $navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%);
    $navbar-default-brand-hover-bg:    transparent;

    $navbar-default-toggle-hover-bg:     #ddd;
    $navbar-default-toggle-icon-bar-bg:  #00613F;
    $navbar-default-toggle-border-color: transparent;
    

    // Tabs
    $nav-link-padding:  10px 15px;
    $nav-link-hover-bg: transparent;

    $nav-tabs-border-color: darken($navbar-default-bg, 6.5%);

    $nav-tabs-link-hover-border-color: transparent;

    $nav-tabs-active-link-hover-color:        $brand-primary;
    $nav-tabs-active-link-hover-border-color: darken($navbar-default-bg, 6.5%);
    
    // Panel
    $panel-bg: $body-bg;
    
    // Buttons
    $btn-default-color:  #003321;
    $btn-default-bg:     $body-bg;
    $btn-default-border: #ccc;

    // Input
    $input-border-focus: #007F52 ;

    /* Hipopocket */
    $up-vote   : $brand-primary;
    $down-vote : $brand-danger;
    $default-padding: 15px;
    $cinza-claro: #A6A6A6;

    $facebook-color: #3B5998;
    $google-color: #DD4B39;

// -----------

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

nav li a.login-buttons {
    line-height: 60px;
    padding: 0px 10px;
}

nav li a.ou-button {
    padding: 0px;
}

nav li a.navbar-profile-name {    
    padding-right: 8px;
    padding-left: 8px;
    cursor: pointer;
}

nav li a.navbar-profile-picture {
    padding: 9px;
    padding-left: 0px;
    padding-right: 20px;
}

nav li a.navbar-profile-picture img {
    width: 40px;
    height: 40px;
}

.facebook-button {
    background-color: $facebook-color;
    border-color: darken($facebook-color, 5%);
}

.facebook-button:hover, .facebook-button:active, .facebook-button:focus {
    background-color: darken($facebook-color, 10%);
    border-color: darken($facebook-color, 15%);
}

.google-button {
    background-color: $google-color;
    border-color: darken($google-color, 5%);
}

.google-button:hover, .google-button:active, .google-button:focus {
    background-color: darken($google-color, 10%);
    border-color: darken($google-color, 15%);
}

.promocao {
    padding: $default-padding;
    margin-top: 0px;
    border-bottom: 1px solid $gray-lighter;
}

.promocao-fav {
    color: $cinza-claro;
    cursor: pointer;
}

.promocao-fav:hover, .promocao-fav:active {
    color: $down-vote;
}

.promocao-vote {
    text-align: center;
}

.promocao-text {
    font-size: 16px;
}

.promocao-titulo {
    @extend .promocao-text;
}

.promocao-detalhes {
    color: $cinza-claro;
    display: block;
}

.promocao-detalhes a {
    cursor: pointer;
    color: $cinza-claro;
}

.promocao-detalhes a:hover {
    color: $brand-primary;
}

.up-vote, .down-vote {
    @extend .promocao-text;
    display: block;
    color: $cinza-claro;
}

.promocao-score {
    font-size: 14px;
    color: $cinza-claro;
}

.vote {
    cursor: pointer;
}

.up-vote:hover, .up-vote:active, .upvoted {
    @extend .vote;
    color: $up-vote;
}

.down-vote {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

.down-vote:hover, .down-vote:active, .downvoted {
    @extend .vote;
    color: $down-vote;
}

.painel-controle {
    margin-top: 15px;
    text-align: center;
}

