$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/* Variáveis */

    /* Bootstrap */
    $brand-primary: #DB3615;
    $brand-success: #18BA18;
    $brand-info:    #5bc0de;
    $brand-warning: #f0ad4e;
    $brand-danger:  #BE1E2D;

    $gray-base:     #000;
    $gray-lighter:  lighten($gray-base, 88%); // #eee

    $body-bg: #FFFFFF;

    $font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

    $border-radius-base:  2px;
    $border-radius-large: 3px;
    $border-radius-small: 1px;

    // Navbar
    $navbar-height:              60px;
    $navbar-margin-bottom:       30px;
    $navbar-collapse-max-height: 340px;

    $navbar-default-color:  $brand-primary;
    $navbar-default-bg:     #F4F4F4;
    $navbar-default-border: $gray-lighter;

    $navbar-default-link-color:          $brand-primary;
    $navbar-default-link-hover-color:    darken($brand-primary, 5%);
    $navbar-default-link-hover-bg:       transparent;
    $navbar-default-link-active-color:   darken($brand-primary, 5%);
    $navbar-default-link-active-bg:      darken($navbar-default-bg, 3%);
    $navbar-default-link-disabled-color: #ccc;
    $navbar-default-link-disabled-bg:    transparent;

    $navbar-default-brand-color:       $navbar-default-link-color;
    $navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%);
    $navbar-default-brand-hover-bg:    transparent;

    $navbar-default-toggle-hover-bg:     #ddd;
    $navbar-default-toggle-icon-bar-bg:  $brand-primary;
    $navbar-default-toggle-border-color: transparent;
    

    // Tabs
    $nav-link-padding:  10px 15px;
    $nav-link-hover-bg: transparent;

    $nav-tabs-border-color: $gray-lighter;

    $nav-tabs-link-hover-border-color: transparent;

    $nav-tabs-active-link-hover-color:        $brand-primary;
    $nav-tabs-active-link-hover-border-color: darken($navbar-default-bg, 6.5%);
    
    // Panel
    $panel-bg: $body-bg;
    
    // Buttons
    $btn-default-color:  #003321;
    $btn-default-bg:     $body-bg;
    $btn-default-border: #ccc;

    /* Hipopocket */
    $up-vote   :      #078903;
    $down-vote :      #CF1515;
    $default-padding: 15px;
    $cinza-claro:     #A6A6A6;

    $facebook-color: #3B5998;
    $google-color:   #DD4B39;

    // Input
    $input-border-focus:      #FF5D18;
    $input-color-placeholder: $cinza-claro;

// -----------

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.navbar-brand {
    padding: 15px;
}

nav li a.login-buttons, a.login-buttons {
    line-height: 60px;
    padding: 0px 10px;
}

nav li a.ou-button, a.ou-button {
    padding: 0px;
}

a.login-buttons:hover {
    text-decoration: none;
}

.promocao-query {
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 15px;
}

/* Centraliza logo quando é tablet e smartphone */
@media (max-width: $screen-sm-max) {
    
    .navbar-header {
        text-align: center;
    }

    .navbar-header a{
        width: 100%;
    }

}

@media (max-width: $screen-xs-max) {

    .navbar-form {
        margin: 0px;
    }

    .navbar-right {
        display: table;
        margin: 0 auto;
    }

}

nav li {
    display: inline-block !important;
}

nav li a.navbar-profile-name {    
    padding-right: 8px;
    padding-left: 8px;
    cursor: pointer;
}

nav li a.navbar-profile-picture {
    padding: 9px;
    padding-left: 0px;
    padding-right: 20px;
}

nav li a.navbar-profile-picture img {
    width: 40px;
    height: 40px;
}

.facebook-button {
    background-color: $facebook-color;
    border-color: darken($facebook-color, 5%);
}

.facebook-button:hover, .facebook-button:active, .facebook-button:focus {
    background-color: darken($facebook-color, 10%);
    border-color: darken($facebook-color, 15%);
}

.google-button {
    background-color: $google-color;
    border-color: darken($google-color, 5%);
}

.google-button:hover, .google-button:active, .google-button:focus {
    background-color: darken($google-color, 10%);
    border-color: darken($google-color, 15%);
}

.promocao {
    padding: $default-padding;
    margin-top: 0px;
    border-bottom: 1px solid $gray-lighter;
}

.promocao-fav {
    color: $cinza-claro;
    cursor: pointer;
}

.promocao-fav:hover, .promocao-fav:active {
    color: $down-vote;
}

.promocao-vote {
    text-align: center;
    padding: 0px;
}

@media (min-width: $screen-sm-min) { 
    .promocao-vote {
        padding: 0px 15px;
        text-align: center;
    }
}

.promocao-text {
    font-size: 18px;
}

.promocao-titulo {
    @extend .promocao-text;
}

.promocao-detalhes {
    color: $cinza-claro;
    display: block;
}

.promocao-detalhes a {
    cursor: pointer;
    color: $cinza-claro;
}

.promocao-detalhes a:hover {
    color: $brand-primary;
}

.promocao-score {
    font-size: 14px;
    color: $cinza-claro;
}

.vote {
    cursor: pointer;
}

.up-vote, .down-vote {
    @extend .promocao-text;
    @extend .vote;
    display: block;
    color: $cinza-claro;
}

.up-vote:hover, .up-vote:active, .upvoted {
    @extend .vote;
    color: $up-vote;
}

.down-vote:hover, .down-vote:active, .downvoted {
    @extend .vote;
    color: $down-vote;
}

.painel-controle {
    margin-top: 15px;
    text-align: center;
}

.promocao-pagina {
    text-align: center;
}

.promocao-pagina li {
    cursor: pointer;
}

.login-modal {
    text-align: center;
}

.login-modal div {
    display: inline;
}

/* Customização da barra de progresso no topo da página */

#loading-bar .bar {
    background: $brand-primary !important;
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  $brand-primary !important;
    border-left-color: $brand-primary !important;
}

#loading-bar .peg {
    -moz-box-shadow: $brand-primary 1px 0 6px 1px !important;
    -ms-box-shadow: $brand-primary 1px 0 6px 1px !important;
    -webkit-box-shadow: $brand-primary 1px 0 6px 1px !important;
    box-shadow: $brand-primary 1px 0 6px 1px !important;
}

