<!-- Tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: tipo=='destaques'}">
        <a href="#/destaques"><span class="glyphicon glyphicon-fire"></span> Em Destaque</a>
    </li>
    <li role="presentation" ng-class="{active: tipo=='novos'}">
        <a href="#/novos"><span class="glyphicon glyphicon-asterisk"></span> Novos</a>
    </li>
</ul>

<!-- Promoções -->
<div class="row">
    <div class="col-md-9">
        <promocao ng-repeat="p in promocoes" data="p"></promocao>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm">
        <div class="painel-controle panel panel-default">
            <div class="panel-body">
                <a href="#/app/publique" class="btn btn-primary btn-lg">Publique uma Promoção</a>
            </div>
        </div>
    </div>
</div>