<!-- Tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        <a href="#/destaques"><span class="glyphicon glyphicon-fire"></span> Em Destaque</a>
    </li>
    <li role="presentation">
        <a href="#/novos"><span class="glyphicon glyphicon-asterisk"></span> Novos</a>
    </li>
    <li role="presentation">
        <a href="#/favoritos"><span class="glyphicon glyphicon-heart"></span> Favoritos</a>
    </li>
</ul>

<!-- Promoções -->
<div class="row">
    <div class="col-md-9">
        <div class="promocao media">
            <div>
                <span class="promocao-fav glyphicon glyphicon-heart"></span>
            </div>
            <div class="promocao-vote media-left">
                <span class="up-vote glyphicon glyphicon-thumbs-up"></span>
                <span class="down-vote glyphicon glyphicon-thumbs-down"></span>
            </div>
            <div class="media-body">
                <span class="promocao-score">1247</span>
                <span>
                    <a class="promocao-titulo" href="/">
                        Pipoqueira Elétrica Britânia Pop Time - R$59,89 no boleto (Shoptime)
                    </a>                        
                </span>
            </div>
        </div>
        <div class="promocao media">
            <div>
                <span class="promocao-fav glyphicon glyphicon-heart"></span>
            </div>
            <div class="promocao-vote media-left">
                <span class="up-vote glyphicon glyphicon-thumbs-up"></span>
                <span class="down-vote glyphicon glyphicon-thumbs-down"></span>
            </div>
            <div class="media-body">
                <span class="promocao-score">1247</span>
                <span>
                    <a class="promocao-titulo" href="/">
                        Pipoqueira Elétrica Britânia Pop Time - R$59,89 no boleto (Shoptime)
                    </a>                        
                </span>
            </div>
        </div>

        <div class="promocao media">
            <div>
                <span class="promocao-fav glyphicon glyphicon-heart"></span>
            </div>
            <div class="promocao-vote media-left">
                <span class="up-vote glyphicon glyphicon-thumbs-up"></span>
                <span class="down-vote glyphicon glyphicon-thumbs-down"></span>
            </div>
            <div class="media-body">
                <span class="promocao-score">1247</span>
                <span>
                    <a class="promocao-titulo" href="/">
                        Pipoqueira Elétrica Britânia Pop Time - R$59,89 no boleto (Shoptime)
                    </a>                        
                </span>
            </div>
        </div>

        <div class="promocao media">
            <div>
                <span class="promocao-fav glyphicon glyphicon-heart"></span>
            </div>
            <div class="promocao-vote media-left">
                <span class="up-vote glyphicon glyphicon-thumbs-up"></span>
                <span class="down-vote glyphicon glyphicon-thumbs-down"></span>
            </div>
            <div class="media-body">
                <span class="promocao-score">1247</span>
                <span>
                    <a class="promocao-titulo" href="#/">
                        Pipoqueira Elétrica Britânia Pop Time - R$59,89 no boleto (Shoptime)
                    </a>                        
                </span>
            </div>
        </div>

        <div class="promocao media">
            <div>
                <span class="promocao-fav glyphicon glyphicon-heart"></span>
            </div>
            <div class="promocao-vote media-left">
                <span class="up-vote glyphicon glyphicon-thumbs-up"></span>
                <span class="down-vote glyphicon glyphicon-thumbs-down"></span>
            </div>
            <div class="media-body">
                <span class="promocao-score">1247</span>
                <span>
                    <a class="promocao-titulo" href="/">
                        Pipoqueira Elétrica Britânia Pop Time - R$59,89 no boleto (Shoptime)
                    </a>                        
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm">
        <div class="painel-controle panel panel-default">
            <div class="panel-body">
                <a href="#/app/publique" class="btn btn-primary btn-lg">Publique uma Promoção</a>
            </div>
        </div>
    </div>
</div>