<nav class="navbar navbar-default" role="navigation">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Hipopocket</a>
        </div>
        <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>           
        <ul ng-if="$root.userState === 'unauthorized'" class="nav navbar-nav navbar-right"> 
            <li>
                <a class="login-buttons"><button class="btn btn-primary facebook-button" ng-click="login('facebook')"><i class="fa fa-fw fa-facebook"></i> Login com Facebook</button></a>
            </li>
            <li>
                <a class="login-buttons ou-button">ou</a>
            </li>
            <li>
                <a class="login-buttons"><button class="btn btn-primary google-button" ng-click="login('google')"><i class="fa fa-fw fa-google"></i> Login com Google</button></a>
            </li>
        </ul>
        <ul ng-if="$root.userState === 'logged'" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle navbar-profile-name" data-toggle="dropdown" role="button" aria-expanded="false">
                    Olá, {{$root.userAuthenticated.usuario_displayname}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a ng-click="logout()">Sair</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="navbar-profile-picture">
                    <img src="{{$root.userAuthenticated.usuario_profile_picture}}" alt="user profile picture" class="img-circle"/>
                </a>
            </li>            
        </ul>    
    </div>

</nav>
